* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    padding-top: 65px;
}

input:focus,
select:focus {
    outline: chocolate solid 2px;
}

.orders-container {
    margin: auto;
    max-width: 850px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
}

@media(max-width:900px) {
    .orders-container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.orders-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
}

.orders-main {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px 8px 0px 0px;
}

.orders-header-grid {
    display: grid;
    background-color: rgb(240, 240, 240);
    grid-template-columns: 100px 1fr 300px;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    column-gap: 50px;
}

.order-product-details {
    padding: 30px;
    display: grid;
    grid-template-columns: 100px 1fr 210px;
    column-gap: 50px;
}

.prod-image {
    width: 100px;
}

.prod-name,
.arriving-date,
.order-quantity {
    margin-bottom: 10px;
}

.buy-again-button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 197, 37);
    cursor: pointer;
    transition: all 0.15s;
}

.buy-again-button:hover {
    background-color: rgb(233, 172, 5);
}

.buy-icon {
    width: 25px;
    margin-right: 15px;
}

.track-button {
    align-self: self-start;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.115);
    padding: 8px 55px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.15s;
}

#track {
    color: black;
    text-decoration: none;
}

.track-button:hover {
    background-color: rgba(173, 216, 230, 0.152);
}

.track-button:active {
    background-color: rgba(117, 236, 242, 0.32);
    box-shadow: none;
}